<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html>
    <head>
         <style>
        body { font-family: Arial; margin: 20px; }
        table { border-collapse: collapse; width: 100%; }
        th, td { border: 1px solid #ccc; padding: 10px; }
        th { background-color: #f4f4f4; }
    </style>
    </head>
    <body>
        <h1>Lista de Usuarios</h1>
    <a href="/usuarios/nuevo">Crear nuevo usuario</a>
    <table>
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Acciones</th>
        </tr>
        <tr th:each="usuario : ${usuarios}">
            <td th:text="${usuario.id}">1</td>
            <td th:text="${usuario.nombre}">Nombre</td>
            <td>
                <a th:href="@{/usuarios/editar/{id}(id=${usuario.id})}">Editar</a> |
                <a th:href="@{/usuarios/eliminar/{id}(id=${usuario.id})}">Eliminar</a>
            </td>
        </tr>
    </table>
    </body>
</html>
